conf/config.php
/nbproject/private/
nbproject/project.properties
nbproject/project.xml
/lib/Doc/nbproject/private/
/lib/gestion_document/nbproject/private/
lib/gestion_document/files/.tmb/l1_U2VlXElNR18wMDAyWzFdLkpQRw1413742344.png
lib/gestion_document/files/.tmb/l1_U2VlXElNR18wMDAzWzFdLkpQRw1413742344.png
lib/gestion_document/files/See/untitled file.txt