#alert
        {
            padding: 10px;
            position: absolute;
            border-top: 20px solid green;
            background-color: White;
            border-left: 5px solid green;
            border-right: 5px solid green;
            border-bottom: 5px solid green;
            font-family: Calibri;
            width: 300px;
            height : 100px;

            position:absolute;
            left: 50%;
            top: 50%;
            margin-left: -150px; /* Cette valeur doit être la moitié négative de la valeur du width */
            margin-top: -150px; /* Cette valeur doit être la moitié négative de la valeur du height */
        }
        