/* --------------------------------------------
   HTML5 Doctor Reset
-------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #000; color:#fff; text-shadow: none; }
::selection { background:#000; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444;}
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
/* -----------------------------------------------------------------------------------------------------------------------------
                        Doctor Reset END
-------------------------------------------------------------------------------------------------------------------------------- */

a { text-decoration: none;}

body{
  font-family:helvetica; 
  font-weight:lighter; position:relative; bottom:0px;
}

#logo
{
position:absolute; left:30px;
width:200px;
height:45px;
background-image: url('../images/logo.png')
}
#gear
{
position:absolute; left:250px; top:15px;
width:32px;
height:32px;
background-image: url('../images/gear.png')
}

#top
{position:relative;
width:100%;
height:50px;
border-style:solid;
border-width:1px;
text-align: center ;
background-color:#272822;
border-style:hidden;
border-color:#AAAAAA;

}

#content
{position:relative;
width:100%;
height:100%;
border-top-style:hidden;
border-left-style:solid;
border-right-style:solid;
border-width:1px;
background-color:#FFFFFF;
}

#modules
{position:relative;
width:100%;
top:30px;
border-style:hidden;

}

.module
{position:relative;
border-style:hidden;
  font-size: 20px;
  padding-top: 15px;

 
}



.menutab
{ position:relative; left:0px; top:20px;
  width:250px; height:300px; 
  color:#FFFFFF;
  border-collapse:separate; 
  border-spacing:1px;

}

.menutab tr td:first-child{
  text-align:center;
  background: #138023; 
}

.menutab tr td:last-child{
  text-indent:20px;
background: #34A645;
}

.menutab tr td a { color: white;} 

 
.menutab tr td:last-child:hover{
   background: #00C040; 
   -webkit-transition-property: background; 
              -webkit-transition-duration: .5s; 
              -webkit-transition-timing-function: linear; 
}

.upper_content
{
position:relative;
border-style:solid; border-width:0px;
left:10px; top:20px;
width:800px;
height:300px;
}

.upper_content table tr td
{
border-style:solid; border-width:0px;
}

.blue
{
  position:relative;
left:35px; top:10px;
width:129px;
height:129px;
background-image: url('../images/blue_circle.png')
}
.green
{position:relative;
 left:35px; top:10px;
width:129px;
height:129px;
background-image: url('../images/green_circle.png')
}
.red
{position:relative;
left:35px; top:10px;
width:129px;
height:129px;
background-image: url('../images/red_circle.png')
}
.marine
{position:relative;
left:35px; top:10px;
width:129px;
height:129px;
background-image: url('../images/marine_circle.png')
}

.info_box_blue
{
  position:relative;
width:195px;
height:100px;
background-color:#4FC4CA;

}
.info_box_green
{position:relative;

width:195px;
height:100px;
background-color:#A5C877;
}
.info_box_red
{position:relative;

width:195px;
height:100px;
background-color:#CF7E8F;
}
.info_box_marine
{position:relative;

width:195px;
height:100px;
background-color:#8FC3E9;
}

.lower_content
{
  position:relative;
border-style:solid; border-width:0px;
left:10px; top:20px;
width:800px;
  border:1px solid #dfdfdf;
}

.table_header
{
  margin:0px;padding:0px;
  width:100%; height:30px;
  border-bottom:1px solid #dfdfdf;
  
  background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#efefef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}

.table_header_sub
{ position:relative;
  height:20px; top:5px;
  margin-bottom:10px;
}

.lower_content table tr th{
  height:35px;
vertical-align:middle
  }

.lower_content table tr td{
border:1px solid #dfdfdf;
height:30px;
text-align:center;
vertical-align:middle
}

.lower_content table{
    border-collapse: collapse;
        border-spacing: 0;
  position:relative;left:25px;
  margin:0px;padding:0px;
  border:1px solid #dfdfdf;
  margin-bottom:10px;
}

.lower_content tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}
.lower_content table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.lower_content table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}.lower_content tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}.lower_content tr:hover td{
  
}
.lower_content tr:nth-child(odd){ background-color:#f6f6f6; }
.lower_content tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
  vertical-align:middle;
  
  
  border:1px solid #dfdfdf;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:7px;
  font-size:10px;
  font-family:Arial;
  font-weight:normal;
  color:#000000;
}.lower_content tr:last-child td{
  border-width:0px 1px 0px 0px;
}.lower_content tr td:last-child{
  border-width:0px 0px 1px 0px;
}.lower_content tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.Clower_contenttr:first-child td{
    background:-o-linear-gradient(bottom, #ffffff 5%, #f6f6f6 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
  background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#f6f6f6");  background: -o-linear-gradient(top,#ffffff,f6f6f6);

  background-color:#ffffff;
  border:0px solid #dfdfdf;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:14px;
  font-family:Arial;
  font-weight:bold;
  color:#ffffff;
}
.lower_content tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #ffffff 5%, #f6f6f6 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
  background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#f6f6f6");  background: -o-linear-gradient(top,#ffffff,f6f6f6);

  background-color:#ffffff;
}
.lower_content tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.lower_content tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}
